
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Gothic A1', sans-serif;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus{
  border: none;
  outline:none;
  box-shadow: none;
}


/* .page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.footer {
  margin-top: auto;
}

.header {
  padding: 23px 0;
}

.header__container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__container nav {
  display: flex;
  align-items: center;
}

.header__container ul {
  display: flex;
  flex-wrap: wrap;
}

.header__container a {
  padding: 27px 10px;
  margin-left: 60px;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
}

.header__container a:hover {
  background: #ffea00;
}



.top-slide {
  background-image: url(img/slider_bg.png);
  padding: 125px 0 303px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.top-container {
  width: 80%;
  margin: 0 auto;
}

.top-container h1 {
  display: inline;
  background-color: #ffea00;
  padding: 13px 13px 0 13px;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 600;
}

.top-container div:nth-child(1) {
  margin-bottom: 5px;
}

.top-container div:nth-child(2) {
  margin-bottom: 8px;
}

.top-container p {
  margin: 0 auto;
  display: inline;
  font-size: 24px;
  font-weight: 400;
  background-color: #414146;
  padding: 3px 6px 0 6px;
  color: #ffff;
}

.middle-slide {
  padding: 90px 0 90px 0;
  width: 100%;
}

.middle-container {
  width: 72%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.middle__container_title {
  font-size: 35px;
  text-transform: uppercase;
  color: #424147;
}

.middle__container_text {
  margin-top: 25px;
  margin-bottom: 65px;
  font-size: 24px;
  color: #424147;
}

.grid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.grid__item {
  width: 270px;
  margin: 0 0 30px 20px;
}

.grid__item:hover {
  opacity: 0.6;
}

.card-top {
  height: 200px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffea00;
}

.card-top-img {
  display: block;
  height: 100px;
}

.card-top-title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.card-bottom {
  padding: 30px 25px;
  text-align: center;
  background-color: #414146;
  color: #fff;
}

.special-card-top {
  height: 200px;
}

.special-card-top-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.special-card-text {
  text-align: left;
  margin-bottom: -10px;
  font-size: 20px;
}

.main__work {
  width: 100%;
}

.main__work__container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button__our__work {
  padding: 10px 30px;
  border: 0;
  background-color: #424147;
  color: #ffea00;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 33px;
}

.main__work__text {
  font-size: 16px;
}

.nav__work {
  display: flex;
  column-gap: 5px;
  text-transform: uppercase;
  margin: 25px 0 35px 0;
}


.button__nav__work {
  border: 0;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
}

.grid__work {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  margin: 0 auto;
}

.grid__work__img:hover {
  opacity: 0.6;
}

.grid__work__img {
  position: relative;
  padding: 0px 0px 80% 0px;
}

.grid__work__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__clients {
  width: 100%;
  padding: 50px 0 120px 0;
}

.main__clients__container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.button__our__clients {
  padding: 10px 30px;
  border: 0;
  background-color: #424147;
  color: #ffea00;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.main__clients__text {
  margin: 30px 0;
  font-size: 16px;
}

.grid__clients {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 40px;
}

.grid__clients__item:hover {
  opacity: 0.6;
  cursor: pointer;
}

.main__bottom {
  width: 100%;
  padding: 30px 0 40px 0;
  background-color: #414146;
  color: #fff;
}

.main__bottom__wrapper {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  column-gap: 100px;
}

.main__bottom__container-1 {
  display: flex;
  flex-direction: column;
}

.block__about__us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.block__about__us_title {
  font-size: 18px;
}

.block__about__us_text {
  margin: 30px 0 35px 0;
  font-size: 15px;
}

.button__learn__more {
  padding: 13px 18px;
  background-color: #000;
  border-bottom: 2px solid #eeda00;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  font-weight: 500;
}

.block__photo {
  display: flex;
  flex-direction: column;
}

.block__photo__title {
  margin: 45px 0 25px 0;
  color: #fff;
  font-size: 18px;
}

.block__photo__grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}


.main__bottom__container-2 {
  display: flex;
  flex-direction: column;
}

.block__latest__tweets {
  display: flex;
  flex-direction: column;
}

.tweets__container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.tweets__block {
  display: flex;
  margin-bottom: 20px;
}

.tweets__block__img {
  padding: 8px 20px 20px 0;
}

.tweets__block__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block__social__connecting {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.social__connecting__title {
  margin-right: 10px;
  text-align: left;
}

.social__connecting__grid {
  display: flex;
  column-gap: 3px;
  flex-wrap: wrap;
}

.yellow {
  color: #ffea00;
}

.main__bottom__container-3 {
  display: flex;
  flex-direction: column;
}

.contact__info__wrapper {
  display: flex;
  flex-direction: column;
}

.contact__info__title {
}

.contant__info__blocks {
  margin: 50px 0 25px 0;
  display: flex;
  flex-direction: column;
}

.contant__info__block {
  display: flex;
  margin-bottom: 20px;
}

.contact__img  {
  padding-right: 15px;
}

.contact {
  color: #fff;
}

.contact__text {
  padding-top: 5px;
  color: #fff;
}

.second__phone {
  text-align: right;
  color: #fff;
}

.follow__us__text {
  margin: 15px 0 20px 0;
}

.email__input {
  display: flex;
}

.email__input input {
  background-color: #414146;
  border: 0;
  color: #fff;
  border-bottom: 2px solid #ffea00;
}

.footer {
  width: 100%;
  padding: 28px;
  background: #000;
}

.footer__nav {
  width: 42%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0 auto;
  column-gap: 80px;
  row-gap: 20px;
}

.footer__nav__item {
  color: #fff;
  text-transform: uppercase;
}

.footer__nav__item:hover {
  opacity: 0.6;
}


@media screen and (max-width:763px) {
  .grid__item {
    margin: 0 auto 30px auto;
  }
  .grid__work {
    justify-content: center;
    grid-template-columns: minmax(150px,400px);
  }
}

@media screen and (max-width:1187px) {
  .block__about__us {
    align-items: center;
  }
  .block__photo__grid {
    justify-content: center;
  }
  .block__photo__title {
    text-align: center;
  }
  .block__latest__tweets {
    align-items: center;
  }
  .block__social__connecting {
    justify-content: center;
  }
  .main__bottom__wrapper {
    grid-template: 1fr / 1fr;
    row-gap: 50px;
  }
  .contact__info__wrapper {
    align-items: center;
  }
  .follow__us__wrapper {
    text-align: center;
  }
  .email__input {
    justify-content: center;
  }
  .header__container a {
    padding: 0;
  }
  .header__container a:hover {
    background: none;
    opacity: 0.6;
  }
}
